<%= stylesheet_link_tag "fonts", media: "all" %>
<%= stylesheet_link_tag "colors", media: "all" %>
<%= stylesheet_link_tag "user", media: "all" %>

<body>
    
    <!-- ХЕДЕР -->
    <header class="header">
        <div class="header_logo">FILMORA</div>

        <nav class="nav">
            <a href="/about">О нас</a>
            <a href="/feed">Лента</a>
            <a href="/subscription">Подписка</a>
        </nav>

        <div class="icons">
            <% if user_signed_in? %>
            <%= link_to signout_path, method: :delete do %>
                <%= image_tag("exit.svg", class: "icon") %>
            <% end %>
            <% end %>

            <a href="/favorites">
            <%= image_tag "favorites.svg", class: "icon" %>
            </a>

            <a href="/signin">
            <%= image_tag "user.svg", class: "icon" %>
            </a>
        </div> 
    </header>

    <!-- ПРОФИЛЬ -->
    <main class="profile_page">

        <div class="profile">

            <div class="leftblock">
                <div class="avatar">
                    <%= image_tag(
                        @user.avatar.attached? ? url_for(@user.avatar) : "default_avatar.png",
                        class: "avatar_img"
                    ) %>
                </div>
                <div class="info">
                    <div class="username"><%= @user.username %></div>
                    <div class="email"><%= @user.email %></div>
                </div>
            </div>

            <div class="edit">
                <%= link_to "Редактировать профиль", edit_user_path(@user), class: "editbutton" %>
            </div>

        </div>

    </main>

    <!-- ОБСУЖДЕНИЯ -->   
    <div class="big">ОБСУЖДЕНИЯ</div>

    <div class="posts">

        <% @posts.each do |post| %>

            <div class="post_card">

                <h2><%= post.title %></h2>

                <% if post.image.attached? %>
                <%= image_tag post.image %>
                <% end %>

                <p><%= post.body %></p>

                <div class="tags">
                <% post.tags.each do |tag| %>
                    <span>#<%= tag.name %></span>
                <% end %>
                </div>

            </div>

        <% end %>

    </div>

    <!-- ФУТЕР -->
    <footer class="footer">
        <div class="footer_logo">
            FILMORA
        </div>
        
        <div class="footer_info">
        <div>
            <span class="label">
            <span class="grey_text">создательницы:</span><br>
            <span class="black_text">Александра Арефьева</span><br>
            <span class="black_text">Старовойтова Евгения</span>
        </div>

        <div>
            <span class="label">
            <span class="grey_text">кураторы:</span><br>
            <span class="black_text">Федор Ноздрин</span><br>
            <span class="black_text">Захар День</span>
        </div>
    </footer>

</body>