<%= stylesheet_link_tag "fonts", media: "all" %>
<%= stylesheet_link_tag "colors", media: "all" %>
<%= stylesheet_link_tag "aboutus", media: "all" %>

<!-- ХЭДЕР -->
<header>
  <%= image_tag "header_logo.svg", class: "logo" %>


  <nav class="navbar">
    <a href="#">О нас</a>
    <a href="#">Лента</a>
    <a href="#">Статьи от Filmora</a>
  </nav>

  <%= image_tag "favorites_ikon.svg", class: "fav_ikon"%>
  <%= image_tag "profile_ikon.svg", class: "profile_ikon" %>
  
</header>

<!-- ЗАГЛАВНЫЙ БЛОК -->
<div class="main_block">
  <%= image_tag "rainbow_background.png", class: "background" %>
  <%= image_tag "filmora_main.svg", class: "filmora_main" %>
  <div class="text_main">
    Медиа-сервис для любителей аналоговых технологий
  </div>
<div>

<!-- КТО МЫ? -->
<div class="who_block">
  <%= image_tag "boy.png", class: "boy_background" %>
  <div class="who_big_text">
    КТО МЫ?
  </div>
  <div class="who_text">
    Мы – Filmora, медиа-сервис для тех, кто любит аналоговые технологии. Здесь нет гонки за&nbsp;идеалом — только <span class="underline">искренность</span> кадра и&nbsp;тепло настоящего света. Мы верим, что аналоговая техника — <span class="underline">не&nbsp;прошлое, а&nbsp;способ видеть мир осознанно<span>, с&nbsp;вниманием к&nbsp;деталям и&nbsp;уважением к&nbsp;ремеслу.
  </div>
</div>

<!-- ЧТО МЫ ПРЕДЛАГАЕМ? -->
<div class="what_block">
  <%= image_tag "backblack.png", class: "backblack" %>

  <div class="what_big_text">
    ЧТО МЫ ПРЕДЛАГАЕМ?
  </div>

  <div class="card">
    <%= image_tag "card_test.svg", class: "card_test" %>
    <%= image_tag "polaroid.png", class: "polaroid" %>

    <div class="card_big_text">
      СООБЩЕСТВО
    </div>

    <div class="card_text">
      Давно мечтали найти себе друзей по интересу? Тогда Filmora для&nbsp;вас. 
      Станьте частью нашего сообщества: пишите и&nbsp;читайте посты, 
      коммуницируйте с другими пользователями и&nbsp;обменивайтесь опытом. 
      Мы уверены, что Filmora станет отличным помощником в&nbsp;поисках.
    </div>
  </div>
</div>

<!-- МЕЙЛЕР -->
<div class="mailer_block">
  <%= image_tag "orange_background.png", class: "orange_background" %>
  <%= image_tag "mailer_test.svg", class: "mailer_test" %>
  <div class="mailer_text">
    Просто подпишись на&nbsp;рассылку и&nbsp;первым<br>узнаешь о&nbsp;новых фишках Filmora
  </div>
  <div class="mailer_big_text">
    КАК  НЕ ПРОПУСТИТЬ НОВОСТИ FILMORA?
  </div>
</div>

<!-- ФУТЕР -->
<footer>
  <%= image_tag "footer_logo.svg", class: "footer_logo" %>
  <%= image_tag "white_back.svg", class: "white_back" %>
  <div class="creators">
    <span class="grey_text">создательницы:</span><br>
    <span class="black_text">Александра Арефьева</span><br>
    <span class="black_text">Старовойтова Евгения</span>
  </div>
  <div class="curators">
    <span class="grey_text">кураторы:</span><br>
    <span class="black_text">Федор Ноздрин</span><br>
    <span class="black_text">Захар День</span>
  </div>
</footer>