<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<%= stylesheet_link_tag "fonts", "aboutus", "data-turbo-track": "reload" %>
  	
</head>
<body>
  	
  	<div class="div">

			<img src="<%= asset_path('rainbow_background.png') %>">

			<img src="<%= asset_path('boy.png') %>">

    		<img src="<%= asset_path('orange_background.png') %>">
    		
    		
    		<div class="header">
				<img src="<%= asset_path('header_logo.svg') %>">
      			<div class="buttton-aboutus">О нас</div>
      			<div class="button-lenta">Лента</div>
      			<div class="button-stati">Статьи от Filmora</div>
      			<img src="<%= asset_path('button_profile.svg') %>">
      			<img src="<%= asset_path('button_favorites.svg') %>">
      			
    		</div>
    		<img class="filmora-icon" alt="">
    		
    		<img class="filmora-icon2" alt="">
    		
    		<img src="<%= asset_path('21pilots.png') %>">
    		
    		<img src="<%= asset_path('panasonik.png') %>">
    		
    		<div class="div2">Медиа-сервис для любителей аналоговых технологий </div>
    		<div class="filmora-container">Мы – Filmora, медиа-сервис для тех, кто любит аналоговые технологии. Здесь нет гонки за идеалом — только
      			<span class="span">искренность</span> кадра и тепло настоящего света. Мы верим, что аналоговая техника —
      			<span class="span">не прошлое, а способ видеть мир осознанно</span>, с вниманием к деталям и уважением к ремеслу.
    		</div>
    		<b class="b">кто мы?</b>
    		<b class="b2">Что мы предлагаем?</b>
    		<div class="card">
      			<div class="card-child">
      			</div>
      			<img src="<%= asset_path('button_03.svg') %>">
      			
      			<img src="<%= asset_path('button_02.svg') %>">
      			
      			<img src="<%= asset_path('button_01.svg') %>">
      			
      			<img src="<%= asset_path('button_04.svg') %>">
      			
      			<img src="<%= asset_path('polaroid.png') %>">
      			
      			<b class="b3">СООБЩЕСТВО</b>
      			<div class="filmora">Давно мечтали найти себе друзей по интересу? Тогда Filmora для вас. Станьте частью нашего сообщества: пишите и читайте посты, коммуницируйте с другими пользователями и обменивайтесь опытом. Мы уверены, что Filmora станет отличным помощником в поисках.</div>
    		</div>
    		<b class="filmora2">как не пропустить запуск Filmora?</b>
    		<div class="div3">Просто подпишись на рассылку и первым узнаешь о запуске</div>
    		<div class="inner">
      			<div class="instance-child">
      			</div>
    		</div>
    		<div class="footer">
				<img src="<%= asset_path('footer_logo.svg') %>">
      			<div class="footer-background">
      			</div>
      			<div class="div4">
        				<span>создательницы: <br></span>
        				<span class="span3">Александра Арефьева<br>Евгения Старовойтова</span>
      			</div>
      			<div class="div5">
        				<span>кураторы: <br></span>
        				<span class="span3">Федор Ноздрин<br>Захар День</span>
      			</div>
      		
      			
    		</div>
    		<div class="mailer">
      			<div class="mailer-child">
      			</div>
      			<div class="e-mail">E-mail</div>
      			<div class="filmora3">Я согласен на получение рассылки от Filmora</div>
      			<div class="email">
        				<div class="email-child">
        				</div>
        				<div class="e-mail2">Введите ваш e-mail</div>
      			</div>
      			<div class="button-send">
        				<div class="button-send-child">
        				</div>
        				<div class="e-mail2">Отправить</div>
      			</div>
      			<div class="checkbox">
        				<div class="instance-child">
        				</div>
      			</div>
    		</div>
    	
    		
  	</div>
  	
  	
  	
  	
</body>
</html>