<%= stylesheet_link_tag "fonts", media: "all" %>
<%= stylesheet_link_tag "colors", media: "all" %>
<%= stylesheet_link_tag "signin", media: "all" %>
<%= javascript_include_tag "email_password_input", defer: true %>

<body>
    <!-- ХЕДЕР -->
    <header class="header">
        <div class="header_logo">FILMORA</div>

        <nav class="nav">
            <a href="/about">О нас</a>
            <a href="/feed">Лента</a>
            <a href="/subscription">Статьи Filmora</a>
        </nav>

        <div class="icons">
            <% if user_signed_in? %>
            <a href="/letterbox">
                <%= image_tag "letterbox.svg", class: "icon" %>
            </a>
            <% end %>
            <a href="/favorites">
            <%= image_tag "favorites.svg", class: "icon" %>
            </a>
            <a href="/signin">
            <%= image_tag "user.svg", class: "icon" %>
            </a>
        </div> 
    </header>

    <!-- ОСНОВНОЕ -->
    <main class="login_page">
        <div class="big">ВХОД</div>

        <div class="card-wrapper">
            <%= form_with url: signin_path, method: :post, html: { class: "card" } do |f| %>
                <label for="email_box">E-mail</label>
                <%= f.email_field :email, placeholder: "Введите ваш e-mail", class: "email_box", id: "email_box" %>

                <label for="password_box">Пароль</label>
                <%= f.password_field :password, placeholder: "Введите ваш пароль", class: "password_box", id: "password_box" %>

                <%= f.submit "Войти", class: "button" %>
            <% end %>

            <div class="links">
                <a href="/forbid_password">Забыли пароль?</a>
                <a href="/registration">Зарегистрироваться</a>
            </div>
        </div>
    </main>

    <!-- ФУТЕР -->
    <footer class="footer">
        
        <div class="footer_info">
        <div>
            <span class="label">
            <span class="grey_text">создательницы:</span><br>
            <span class="black_text">Александра Арефьева</span><br>
            <span class="black_text">Старовойтова Евгения</span>
        </div>

        <div>
            <span class="label">
            <span class="grey_text">кураторы:</span><br>
            <span class="black_text">Федор Ноздрин</span><br>
            <span class="black_text">Захар День</span>
        </div>
        </div>
    </footer>

</body>