<%= stylesheet_link_tag "fonts", media: "all" %>
<%= stylesheet_link_tag "colors", media: "all" %>
<%= stylesheet_link_tag "signin", media: "all" %>

<body>
    <!-- ХЕДЕР -->
    <header class="header">
    <div class="header_logo">
        FILMORA
    </div>

    <nav class="nav">
        <a href="/about">О нас</a>
        <a href="/feed">Статьи</a>
        <a href="/subscription">Подписка</a>
    </nav>

    <div class="icons">
        <% if user_signed_in? %>
        <a href="/letterbox">
            <%= image_tag "letterbox.svg", class: "icon" %>
        </a>
        <% end %>
        <a href="/favorites">
        <%= image_tag "favorites.svg", class: "icon" %>
        </a>
        <a href="/signin">
        <%= image_tag "user.svg", class: "icon" %>
        </a>
    </div>
    </header>

    <!-- ОСНОВНОЕ -->
    <main class="login_page">
        <div class="big">ВХОД</div>

        <div class="card-wrapper">
            <div class="card">
                <label for="card_text">E-mail</label>
                <input type="email" placeholder="Введите ваш e-mail" class="email_box">

                <label for="card_text">Пароль</label>
                <input type="password" placeholder="Введите ваш пароль" class="password_box">

                <button class="button">Войти</button>
            </div>

            <div class="links">
                <a href="/forbid_password">Забыли пароль?</a>
                <a href="/registration">Зарегистрироваться</a>
            </div>
        </div>
    </main>

    <script>
        const emailInput = document.querySelector('.email_box');
        emailInput.addEventListener('input', () => {
            if (emailInput.value.trim() !== '') {
            emailInput.classList.add('filled');
            } else {
            emailInput.classList.remove('filled');
            }
        });

        const passwordInput = document.querySelector('.password_box');
        passwordInput.addEventListener('input', () => {
            if (passwordInput.value.trim() !== '') {
            passwordInput.classList.add('filled');
            } else {
            passwordInput.classList.remove('filled');
            }
        });
    </script>

    

    <!-- ФУТЕР -->
    <footer class="footer">
        
        <div class="footer_info">
        <div>
            <span class="label">
            <span class="grey_text">создательницы:</span><br>
            <span class="black_text">Александра Арефьева</span><br>
            <span class="black_text">Старовойтова Евгения</span>
        </div>

        <div>
            <span class="label">
            <span class="grey_text">кураторы:</span><br>
            <span class="black_text">Федор Ноздрин</span><br>
            <span class="black_text">Захар День</span>
        </div>
        </div>
    </footer>

</body>